@import '../variable.scss';

.hero {
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr ;
  margin-bottom: 0;
  &__text-content {
    grid-row: 2/3;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-weight: 400;
    width: 100%;
  }
  &__tagline {
    line-height: 150%;
    max-width: 500px;
  }
  &__greeting {
    h1 {
      color: $primary-color;
    }
  }
  &__down-arrow {
    margin: 0 auto;
    box-sizing: border-box;
    height: 3vw;
    max-height: 25px;
    width: 3vw;
    max-width: 25px;
    border-style: solid;
    border-color: $primary-color;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg); 
    transition: border-width 150ms ease-in-out;
    animation: bounce 2s infinite;
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: rotate(45deg) translateY(20px) translateX(20px);
      }
      40% {
        transform: rotate(45deg) translateY(0px) translateX(0px);
      }
      60% {
        transform: rotate(45deg) translateY(10px) translateX(10px);
      }
    }
    &:hover {
      cursor: pointer;
      border-bottom-width: 4px;
      border-right-width: 4px;
    }
  }
  &__down-arrow-wrapper {
    grid-row: 3/4;
  }
}