@import '../variable.scss';

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

.connect {
  &__content{
    margin: 0 auto;
    max-width: 500px;
    @include lg {
      max-width: initial;
      display: flex;
      justify-content: space-around;
    }
  }
  &__form {
    input, textarea {
      width: 100%;
      margin: 0.5vh 0;
      background-color: $bg-color;
    }
  }
  margin-bottom: 100px;
  &__subtitle {
    margin: 1rem 0;
    @include lg {
      margin: 2rem 0;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-evenly;
    svg {
      color: $primary-color;
    }
  }
}