@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

.about {
  display: flex;
  flex-direction: column;
  &__content {
    display: grid;
    @include lg {
      grid-template-columns: 3fr 2fr;
    }
  }
  &__summary {
    line-height: 1.5;
    @include lg {
      padding: 1rem;
    }
  }
  &__technology {
    white-space: nowrap;
    @include lg {
      padding: 1rem;
      border-left: 2px solid black;
    }
  }
  &__technology-grid {
    margin: 1rem 0; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    @include lg {
      margin-left: 15px;
    }
  }
  &__technology-grid-item:before {
    content: "• "
  }
  &__button {
    align-self: center;
  }
}