@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

header {
  height: 10vh;
  background-color: #eee; 
  img {
    width: 10vh;
    height: 10vh;
  }
  .header {
    &__container {
      // border: 1px solid red !important;
      margin: 0 2vw; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {
        .list-item{
          border: none;
          background: none;
          font-size: 0.85rem;
          font-family: 'Montserrat', sans-serif;
        }
        visibility: hidden;
        display: flex;
        list-style-type: none;
        > * {
          margin-left: 2rem;
          cursor: pointer;
        }
      }
    }
  }
  @include lg {
    // border: 1px solid red !important;
    .header {
      &__container {
        margin: 0 10vw;
        nav {
          visibility: visible;
        }
      }
    }
  }
}