/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */

//import spotify font
@font-face {
  font-family: "Shop";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Shopify-Sans-Black-Regular.woff2") format("woff2"),
    url("../fonts/Shopify-Sans-Black-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Shop";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Shopify-Sans-Black-Bold.woff2") format("woff2"),
    url("../fonts/Shopify-Sans-Black-Bold.woff") format("woff");
  font-display: swap;
}

//import google font
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

//import font awesome
@import url('https://kit.fontawesome.com/adce7370e7.js');

@import './variable.scss';

:root {
  font-size:  calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  padding: 0 2.5%;
}

body {
  font-family: "Shop", sans-serif;
  background-color: $bg-color;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

// h3s are the section title.
h3 {
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem -0.75rem ;
}

h3:after{
  content: "";
  height: 1px;
  display: inline-block;
  width: 300px;
  background-color: black;
  margin-left: 20px;
  transform: translateY(-5px);
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

small {
  font-size: 0.8rem;
}

.hidden {
  visibility: hidden;
}

.button {
  background: none;
  border: 3px solid $primary-color;
  color: $primary-color;
  padding: 0.25rem 2rem;
  border-radius: 6px;
  margin: 1rem;
  cursor: pointer;
}

.button:hover{
  transform: scale(1.02);
  border-color: black;
  background-color: rgba($primary-color, 0.5);
  color: black;
}

article {
  margin: 1rem 0;
}

input, textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}

a:link, a:visited, a {
  color: black;
}

section {
  margin-bottom: 4rem;
}